@import "tailwindcss";

.red-gradient {
  background: linear-gradient(92deg, #851614 2.87%, #bb192b 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-dark {
  background-color: #0f1117;
}

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-hero: url("/images/hero.png");
}

body {
  background-color: #000;
}
